In [1]:
import pandas as pd
import string
from nltk.corpus import stopwords

In [6]:
df_imdb_dataset = pd.read_csv('C:\\Users\\oekpom\\Desktop\\Assignment\\imdb_labelled.txt', sep ='\t', names=['message','label'])

In [7]:
df_imdb_dataset.head()

                                             message  label
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1

In [8]:
df_imdb_dataset['length'] = df_imdb_dataset['message'].apply(len)

In [9]:
df_imdb_dataset.head()

                                             message  label  length
0  A very, very, very slow-moving, aimless movie ...      0      87
1  Not sure who was more lost - the flat characte...      0      99
2  Attempting artiness with black & white and cle...      0     188
3       Very little music or anything to speak of.        0      44
4  The best scene in the movie was when Gerardo i...      1     108

In [46]:
def text_process(mess):
    nopunc =[char for char in mess if char not in string.punctuation]
    nopunc=''.join(nopunc)
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [47]:
df_imdb_dataset['message'].head(5).apply(text_process)

0    [slowmoving, aimless, movie, distressed, drift...
1    [sure, lost, flat, characters, audience, nearl...
2    [Attempting, artiness, black, white, clever, c...
3                     [little, music, anything, speak]
4    [best, scene, movie, Gerardo, trying, find, so...
Name: message, dtype: object

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
bag_of_words = CountVectorizer(analyzer=text_process).fit(df_imdb_dataset['message'])

In [49]:
print(len(bag_of_words.vocabulary_))

3259

In [50]:
message_bag_of_words = bag_of_words.transform(df_imdb_dataset['message'])

In [51]:
print(message_bag_of_words)

  (0, 808)	1
  (0, 1350)	1
  (0, 1377)	1
  (0, 2066)	1
  (0, 2153)	1
  (0, 2723)	1
  (0, 3250)	1
  (1, 889)	1
  (1, 1068)	1
  (1, 1608)	1
  (1, 1741)	1
  (1, 2037)	1
  (1, 2183)	1
  (1, 2862)	1
  (1, 3143)	1
  (2, 87)	1
  (2, 774)	1
  (2, 817)	1
  (2, 837)	1
  (2, 866)	1
  (2, 931)	1
  (2, 956)	1
  (2, 1021)	1
  (2, 1111)	1
  (2, 1334)	1
  :	:
  (743, 389)	1
  (743, 421)	1
  (743, 982)	1
  (743, 1119)	1
  (743, 1712)	1
  (743, 2883)	1
  (743, 3164)	1
  (744, 702)	1
  (744, 1587)	1
  (744, 2037)	1
  (744, 2413)	1
  (744, 2495)	1
  (744, 2610)	1
  (744, 3125)	1
  (744, 3215)	1
  (745, 1418)	1
  (745, 3212)	1
  (746, 254)	1
  (746, 911)	1
  (747, 1822)	1
  (747, 1891)	1
  (747, 1895)	1
  (747, 2135)	1
  (747, 2247)	1
  (747, 3158)	1

In [52]:
message_bag_of_words.shape

(748, 3259)

In [53]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer=TfidfTransformer()

In [54]:
tfidf_transformer.fit(message_bag_of_words)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [55]:
message_tfidf= tfidf_transformer.transform(message_bag_of_words)

In [56]:
message_tfidf.shape

(748, 3259)

In [57]:
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(message_tfidf,df_imdb_dataset['label'])

In [58]:
#message_test = 'The movie was very boring'
message_test = df_imdb_dataset['message'][2]
message_test_bow = bag_of_words.transform([message_test])
message_test_tfidf= tfidf_transformer.transform(message_test_bow)

print('predicted:',spam_detect_model.predict(message_test_tfidf)[0])
print('expected:',df_imdb_dataset.label[2])

predicted: 0
expected: 0