In [7]:
import numpy as np

In [8]:
List_of_countries = ['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe']
GDP_values_for_each_country = [2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]

In [9]:
np_Countries = np.array(List_of_countries)
np_GDP = np.array(GDP_values_for_each_country)

In [13]:
Country_High_GDP = np.argmax(np_GDP)
np_Countries[Country_High_GDP]

'Norway'

In [14]:
Country_Low_GDP = np.argmin(np_GDP)
np_Countries[Country_Low_GDP]

'Ethiopia'

In [17]:
for country in np_Countries:
    print('Name of Country: {}'.format(country))

Name of Country: Algeria
Name of Country: Angola
Name of Country: Argentina
Name of Country: Australia
Name of Country: Austria
Name of Country: Bahamas
Name of Country: Bangladesh
Name of Country: Belarus
Name of Country: Belgium
Name of Country: Bhutan
Name of Country: Brazil
Name of Country: Bulgaria
Name of Country: Cambodia
Name of Country: Cameroon
Name of Country: Chile
Name of Country: China
Name of Country: Colombia
Name of Country: Cyprus
Name of Country: Denmark
Name of Country: El Salvador
Name of Country: Estonia
Name of Country: Ethiopia
Name of Country: Fiji
Name of Country: Finland
Name of Country: France
Name of Country: Georgia
Name of Country: Ghana
Name of Country: Grenada
Name of Country: Guinea
Name of Country: Haiti
Name of Country: Honduras
Name of Country: Hungary
Name of Country: India
Name of Country: Indonesia
Name of Country: Ireland
Name of Country: Italy
Name of Country: Japan
Name of Country: Kenya
Name of Country: South Korea
Name of Country: Liberia
Name of Country: Malaysia
Name of Country: Mexico
Name of Country: Morocco
Name of Country: Nepal
Name of Country: New Zealand
Name of Country: Norway
Name of Country: Pakistan
Name of Country: Peru
Name of Country: Qatar
Name of Country: Russia
Name of Country: Singapore
Name of Country: South Africa
Name of Country: Spain
Name of Country: Sweden
Name of Country: Switzerland
Name of Country: Thailand
Name of Country: United Arab Emirates
Name of Country: United Kingdom
Name of Country: United States
Name of Country: Uruguay
Name of Country: Venezuela
Name of Country: Vietnam
Name of Country: Zimbabwe

In [23]:
for i in range (len(List_of_countries)):
    country = np_Countries[i]
    GDP = np_GDP[i]
    print('{} ---> {}'.format(country,GDP))

Algeria ---> 2255.225482
Angola ---> 629.9553062
Argentina ---> 11601.63022
Australia ---> 25306.82494
Austria ---> 27266.40335
Bahamas ---> 19466.99052
Bangladesh ---> 588.3691778
Belarus ---> 2890.345675
Belgium ---> 24733.62696
Bhutan ---> 1445.760002
Brazil ---> 4803.398244
Bulgaria ---> 2618.876037
Cambodia ---> 590.4521124
Cameroon ---> 665.7982328
Chile ---> 7122.938458
China ---> 2639.54156
Colombia ---> 3362.4656
Cyprus ---> 15378.16704
Denmark ---> 30860.12808
El Salvador ---> 2579.115607
Estonia ---> 6525.541272
Ethiopia ---> 229.6769525
Fiji ---> 2242.689259
Finland ---> 27570.4852
France ---> 23016.84778
Georgia ---> 1334.646773
Ghana ---> 402.6953275
Grenada ---> 6047.200797
Guinea ---> 394.1156638
Haiti ---> 385.5793827
Honduras ---> 1414.072488
Hungary ---> 5745.981529
India ---> 837.7464011
Indonesia ---> 1206.991065
Ireland ---> 27715.52837
Italy ---> 18937.24998
Japan ---> 39578.07441
Kenya ---> 478.2194906
South Korea ---> 16684.21278
Liberia ---> 279.2204061
Malaysia ---> 5345.213415
Mexico ---> 6288.25324
Morocco ---> 1908.304416
Nepal ---> 274.8728621
New Zealand ---> 14646.42094
Norway ---> 40034.85063
Pakistan ---> 672.1547506
Peru ---> 3359.517402
Qatar ---> 36152.66676
Russia ---> 3054.727742
Singapore ---> 33529.83052
South Africa ---> 3825.093781
Spain ---> 15428.32098
Sweden ---> 33630.24604
Switzerland ---> 39170.41371
Thailand ---> 2699.123242
United Arab Emirates ---> 21058.43643
United Kingdom ---> 28272.40661
United States ---> 37691.02733
Uruguay ---> 9581.05659
Venezuela ---> 5671.912202
Vietnam ---> 757.4009286
Zimbabwe ---> 347.7456605

In [34]:
max_GDP = np.amax(np_GDP)
min_GDP = np.amin(np_GDP)
mean_GDP = np.mean(np_GDP)
std_GDP = np.std(np_GDP)
sum_GDP = np.sum(np_GDP)

In [35]:
print('Max_GPP - {}, Min_GDP - {}, Mean_GDP - {}, Std_GDP - {}, Sum_GDP - {}'.format(max_GDP,min_GDP,mean_GDP,std_GDP,sum_GDP))

Max_GPP - 40034.85063, Min_GDP - 229.6769525, Mean_GDP - 11289.409271639683, Std_GDP - 12743.828910617945, Sum_GDP - 711232.7841133