In [1]:
from scipy.integrate import quad

In [2]:
def integrateFunction(x):
    return x

In [3]:
quad(integrateFunction,0,1)

(0.5, 5.551115123125783e-15)

In [4]:
def integrateFN(x,a,b):
    return x*a+b

In [5]:
a = 3
b = 2

In [6]:
quad(integrateFN,0,1,args=(a,b))

(3.5, 3.885780586188048e-14)

In [7]:
import numpy as np
from scipy import linalg

In [8]:
numArray = np.array([[4,9],[1,1]])
numValues = np.array([150,30])

In [9]:
linalg.solve(numArray,numValues)

array([24.,  6.])

In [10]:
from scipy.stats import norm

In [12]:
norm.rvs(loc=0,scale=1,size=20)

array([-0.37234761,  0.61147347,  0.04037568,  0.52869551,  1.01719534,
        1.12871532,  0.2427726 ,  0.72094088, -0.50828038,  0.0154648 ,
        0.26777144, -0.16837606,  0.38007886,  1.2150517 ,  1.25780649,
        0.86179124,  0.35570182,  1.34956924, -0.66320512, -0.86656688])

In [13]:
norm.cdf(10,loc=1,scale=2)

0.9999966023268753

In [14]:
norm.pdf(14,loc=0,scale=1)

1.0966065593889713e-43

In [15]:
import numpy as np
import pandas as pd

In [17]:
first = pd.Series(list('abcdef'))
first

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [18]:
olympic_data_list = {'Hostcity':['London','Beijing','Atlanta','Sidney','Athens'],
                     'Year':[2012,2008,2004,2000,1996], 
                     'No. of countries':[205,204,201,200,197]}

In [19]:
df_olympic_data = pd.DataFrame(olympic_data_list)
df_olympic_data

  Hostcity  Year  No. of countries
0   London  2012               205
1  Beijing  2008               204
2  Atlanta  2004               201
3   Sidney  2000               200
4   Athens  1996               197

In [20]:
df_olympic_data[1:4]

  Hostcity  Year  No. of countries
1  Beijing  2008               204
2  Atlanta  2004               201
3   Sidney  2000               200

In [21]:
import sqlite3