In [1]:
import numpy as np
import pandas as pd

In [2]:
df_Ad_dataset = pd.read_csv('C:\\Users\\oekpom\\Desktop\\Assignment\\Advertising Budget and Sales.csv')

In [3]:
df_Ad_dataset.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

In [4]:
df_Ad_dataset.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [6]:
df_Ad_dataset1 = df_Ad_dataset.drop('Unnamed: 0',axis=1)

In [7]:
df_Ad_dataset1.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
0             230.1                 37.8                     69.2       22.1
1              44.5                 39.3                     45.1       10.4
2              17.2                 45.9                     69.3        9.3
3             151.5                 41.3                     58.5       18.5
4             180.8                 10.8                     58.4       12.9

In [14]:
feature_names = df_Ad_dataset1.columns[0:3]
feature_names

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)'], dtype='object')

In [25]:
target = df_Ad_dataset1.columns[3]
target

'Sales ($)'

In [26]:
x_features = df_Ad_dataset1[feature_names]

In [27]:
y_target = df_Ad_dataset1[target]

In [29]:
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()

In [30]:
linReg.fit(x_features,y_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
print('The estimated intercept is %.2f'%linReg.intercept_)

The estimated intercept is 2.94

In [32]:
print('The coefficient is %.2f'%len(linReg.coef_))

The coefficient is 3.00

In [33]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_features,y_target)

In [34]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(150, 3) (50, 3) (150,) (50,)

In [36]:
linReg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [40]:
print('MSE value is %.2f'%np.mean((linReg.predict(x_test)-y_test)**2))

MSE value is 2.97

In [41]:
x_new = [[151.5,41.3,58.5],[120.2,19.6,11.6]]

In [42]:
linReg.predict(x_new)

array([17.5699625, 12.1413784])